repos:
  # Ruff для линтинга Python файлов (.py)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff
        files: ^cyrates/

  # Проверка pyproject.toml через poetry
  - repo: https://github.com/python-poetry/poetry
    rev: 1.8.2
    hooks:
      - id: poetry-check

  # Базовые pre-commit-хуки
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-symlinks
      - id: detect-private-key
      - id: requirements-txt-fixer
